
<div class="simpleform-row">
    <script src="https://www.google.com/recaptcha/api.js?hl={{ htmllang() }}" async defer></script>
    <div class="g-recaptcha" data-sitekey="{{ recaptcha.public_key }}"></div>
</div>
